/******************************************************************
          ___   __    ___  _  _   __   __     __  ____
         / __) / _\  / __)/ )( \ / _\ (  )   /  \(_  _)
        ( (__ /    \( (__ ) __ (/    \/ (_/\(  O ) )(
         \___)\_/\_/ \___)\_)(_/\_/\_/\____/ \__/ (__) 1.5

            https://github.com/tomablan/cachalot

*******************************************************************

    Product Page

    Index :
    1. Main content
    1. Left column
    2. Right column
    3. Tabs, lower part

    Note : As a standalone version of this stylesheet, the left
    column is named "pb-right-column", and the right one
    "pb-left-column". So rely on the comments, and not the classes
    names.

/******************************************************************
    $Main content
******************************************************************/

    #primary_block {margin-top:15px}

/******************************************************************
    $Left column
******************************************************************/
    #pb-right-column {
        float:left;
        width:266px
    }
        #image-block{
            position: relative;
        }

            /* View Full Size Link */
            #view_full_size {
                cursor: pointer;
            }
            #view_full_size .span_link{
                display:block;
                text-align: center;
            }



        /* Miniatures */
        #views_block {
            margin-top:10px;
            position: relative;
        }

            #thumbs_list {
                width: 216px; /* thumb size * default number of thumbs */
                overflow: hidden;
                margin: 0 auto;
            }

                #thumbs_list_frame {
                   list-style-type: none;
                   padding-left: 0
                }

                    #thumbs_list li {
                        float: left;
                        width: 72px;
                        height: 60px;
                        cursor: pointer;
                        text-align: center;
                    }

                /* Previous / Next Buttons */
                #view_scroll_left, #view_scroll_right {
                    position: absolute;
                    bottom: 0;
                    left:0;
                    height: 18px;
                    width: 9px;
                }

                #view_scroll_right {
                    left: auto;
                    right: 0;
                }

        /* Link to view all images when combination selected */
        .resetimg {
            padding-top: 10px
        }



    /* link list */
    #usefull_link_block {
        margin-top: 20px;
    }

        #usefull_link_block li {
            padding: 2px 0;
        }

/******************************************************************
    $Right Column
******************************************************************/
    #pb-left-column {
        float:left;
        width:50%;
    }

        /* Title */
        #pb-left-column h1 {}

        /* Short description */
         #short_description_block {}

        /* Link to full description */
        #short_description_block .buttons_bottom_block {}

    /* "Buy Block" */
    #buy_block {
        background-color: #eee;
    }

        #buy_block label {
            display: inline-block; *display: inline; *zoom:1;
            width:33%;
            text-align:right;
            vertical-align:middle;
        }

        /* Product configuration */
        .product_attributes > p{
            padding-bottom: 10px;
        }

        /* Attribute selection */
            .attribute_list {
                display: inline-block; *display: inline; *zoom:1;
                vertical-align: top;
            }
            .attribute_fieldset {
                padding-bottom: 10px;
            }
                .attribute_list li{
                    clear:both
                }

            /* Color Picker */
            #color_to_pick_list li {
                float:left;
                clear:none;
                margin:0 8px 8px 0;
                border:1px solid transparent; /* For selected */
            }

            #color_to_pick_list li.selected {
                border-color:#000;
            }

                #color_to_pick_list .color_pick {
                    display:block;
                    height:20px;
                    width:20px;
                }

            /* Total quantity available (barely used) */
            #pQuantityAvailable{
                display: none;
            }

            /* Quantity minimal message */
            #minimal_quantity_wanted_p{
                padding-left:33%; /* Referers to label width */
            }

            /* Quantity input */
            #quantity_wanted_p {}

            /* Availability */
            #availability_label {
                /* refers to #buy_block label */
                width: 33%;
                display: inline-block;
                text-align: right;
                vertical-align: middle;
            }


            #availability_value {
                color: green;
            }

            #availability_value.warning_inline {
                color:#9B0000;
            }

    /* prices */
    .content_prices {
        text-align:right;
    }

    .discount {
        display:none; /* JS Handled */
    }

    #old_price {
        font-size:smaller;
        text-decoration:line-through;
    }

    .our_price_display {
        font-weight:bold;
        font-size:xx-large;
    }

        /* Reductions */
        #reduction_percent,#reduction_amount {
            display:inline-block; *display:inline; *zoom:1;
            font-weight: bold;
            color: green;
        }


    /* online_only */
    #buy_block .online_only {
        color:#900;
    }

    /* add_to_cart button */
    .content_prices #add_to_cart {
        text-align: center;
    }